/* header */
.header-bar {
	background-color: red !important;
}

/* title text */
#header .header-bar .title h1 {
	color: white !important;
	text-shadow: 1px 1px 2px black !important;
}

/* menu */
#header .header-drawer.open {
	background-color: #425784;
}

body {
	background: url("https://essenceofzen.org/assets/imgs/backgrounds/black-flora-background.png") no-repeat fixed;
	background-size: cover;
}

/* footer */
.attribution {
	color: white !important;
	background-image: none !important;
	background-color: #333;
}
